<!DOCTYPE html>
<html>
<head>
    <title>JSMpeg Stream Client</title>
    <style type="text/css">
        html, body {
            background-color: #111;
            text-align: center;
        }
    </style>

</head>
<body onclick="play()" style="cursor: pointer;">
    <canvas id="video-canvas" style="transform: scale(0.5,0.5);"></canvas>
    <script type="text/javascript" src="/static/js/jsmpeg.min.js"></script>
    <script type="text/javascript">
        var flag = true;
        var canvas = document.getElementById('video-canvas');
        var url = 'ws://'+'192.168.11.187:20000/ws';
        var config = {
            canvas: canvas,
            autoplay: true,
            audio: true,
            videoBufferSize:1024*1024*10,
            audioBufferSize:1024*1024*10,
            protocols: 'haofei',
        };
        var player
         function play(){
            if(flag){
                alert("开始播放");
                player = new JSMpeg.Player(url, config);
                var aa = document.getElementById("video-canvas");
                aa.width = 576;
                aa.height = 324;
            }
            flag = false;
        }
    </script>
</body>
</html>
